<!-- Modal -->
<div class="modal fade" id="allServices" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Our Services</h4>
            </div>
            <div class="modal-body">
                <ul class="list-group ">
                    <li class="list-group-item active">
                        <h4 class="list-group-item-heading">
                            Complete and detailed list of all services
                        </h4>
                        <p class="list-group-item-text">
                            We provide all kind of legal translation, interpretation and voice over services.
                        </p>
                    </li>

                    <li class="list-group-item">
                        Drafting and Translation of Applications, OA, IA Review
                        applications, Revision and Appeals under Statutory bodies and
                        Tribunals, Commissions etc.
                    </li>
                    <li class="list-group-item">
                        Drafting and Translation of Plaints, agreements, settlements,
                        Recovery suits, written statements, writs, counter affidavits, rejoinders,
                        appeals, contempt petitions, claims, counter claims ,Interlocutory
                        applications, miscellaneous applications, affidavits, notice ,Review,
                        Revision and Restoration ,Drafting of Complaints, settlements, suits,
                        counter affidavits, appeals, and contempt petitions, claims, Demand
                        notice, legal notices, Review, Revision and Restoration petitions in for
                        all Laws in India.
                    </li>
                    <li class="list-group-item">
                        Contracts, Agreements, Tender contracts / invitations /offers
                    </li>
                    <li class="list-group-item">
                        SC, High Court, Lower Court Documents, Affidavits, Lawsuit
                        documents
                    </li>
                    <li class="list-group-item">
                        Customs documentation
                    </li>
                    <li class="list-group-item">
                        Business correspondence, annual reports
                    </li>
                    <li class="list-group-item">
                        Papers related to banking, insurance, finance, taxation
                    </li>
                    <li class="list-group-item">
                        Reports, Minutes of a meeting, agendas
                    </li>

                    <li class="list-group-item">
                        Govt. Public documents
                    </li>

                    <li class="list-group-item">
                        Police reports, FIR
                    </li>
                    <li class="list-group-item">
                        All certificates including Marriage certificate, divorce certificates,
                        birth certificates, death certificates, Academic degrees, diplomas,
                        course certificates
                    </li>
                    <li class="list-group-item">
                        Land related documents (Khasra, Khatauni, Sale Deeds etc.),
                        Land deals
                    </li>
                    <li class="list-group-item">
                        Wills, sale deeds, partnership deeds etc.
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>