<!-- Modal -->
<div class="modal fade" id="clientTypes" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal" type="button">&times;</button>
                <h4 class="modal-title">Our diverse range of client types</h4>
            </div>
            <div class="modal-body">
                <ul class="list-group ">
                    <li class="list-group-item">
                        Manufacturing, Auto/ Auto equip and Chemicals/Agri Inputs
                    </li>
                    <li class="list-group-item">
                        Diversified / Retail
                    </li>
                    <li class="list-group-item">
                        Durable / FMCG / Electr.
                    </li>
                    <li class="list-group-item">
                        EPC / Engineering / Infra. / Mining HCC Group
                    </li>
                    <li class="list-group-item">
                        Fast Moving Consumer Healthcare
                    </li>
                    <li class="list-group-item">
                        Jewellery Industry
                    </li>
                    <li class="list-group-item">
                        Healthcare / Pharma
                    </li>
                    <li class="list-group-item">
                        Petroleum / Energy
                    </li>
                    <li class="list-group-item">
                        Pipes / Piping / Plastics / Steel
                    </li>
                    <li class="list-group-item">
                        Premium Lifestyle
                    </li>
                    <li class="list-group-item">
                        Switchgear / Electrical Engineering
                    </li>
                    <li class="list-group-item">
                        Textile
                    </li>
                    <li class="list-group-item">
                        Transmission &amp; Distribution, Transport / Railways, Wind Energy, Upstream Oil &amp; Gas
                    </li>
                    <li class="list-group-item">
                        Banking, Finance & Insurance and Credit Bureau
                    </li>
                    <li class="list-group-item">
                        Engineering services
                    </li>
                    <li class="list-group-item">
                        Real Estate / Construction
                    </li>
                    <li class="list-group-item">
                        BPO / KPO
                    </li>
                    <li class="list-group-item">
                        Law Firms, Legal Consultants
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal" type="button">Close</button>
            </div>
        </div>
    </div>
</div>