<!-- Modal -->
<div class="modal fade" id="clients" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal" type="button">&times;</button>
                <h4 class="modal-title">Our top clients</h4>
            </div>
            <div class="modal-body">
                <ul class="list-group ">
                    <li class="list-group-item">
                        Atlas Law Partners
                    </li>
                    <li class="list-group-item">
                        Khaitan &amp; Company
                    </li>
                    <li class="list-group-item">
                        AZ&amp;B
                    </li>
                    <li class="list-group-item">
                        Partners
                    </li>
                    <li class="list-group-item">
                        Make my trip | Yatra.Com
                    </li>
                    <li class="list-group-item">
                        Amazon | Flipkart
                    </li>
                    <li class="list-group-item">
                        Trilegal India
                    </li>
                    <li class="list-group-item">
                        Sagar Associates
                    </li>
                    <li class="list-group-item">
                        Bharucha &amp; Partners
                    </li>
                    <li class="list-group-item">
                        Government of India Web Directory | Ministry of Health | Press Information Bureau | PMO
                        India | Ministry of External affairs
                    </li>
                    <li class="list-group-item">
                        Ansh Intertrade Pvt Ltd
                    </li>
                    <li class="list-group-item">
                        Pipes / Piping / Plastics / Steel
                    </li>
                    <li class="list-group-item">
                        Global Enterprise Pvt. Ltd
                    </li>
                    <li class="list-group-item">
                        Anubhav Multilingual Services
                    </li>
                    <li class="list-group-item">
                        Ricky Chopra International
                    </li>
                    <li class="list-group-item">
                        Digital India | My Gov. |
                        Department of Electronics &amp; Information Technology
                    </li>
                    <li class="list-group-item">
                        Shardul Amarchand Mangaldas &amp; Co
                    </li>
                    <li class="list-group-item">
                        Star Group Pvt. Ltd
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal" type="button">Close</button>
            </div>
        </div>
    </div>
</div>