<!-- Sections -->
<section id="ourClients" class="sections" style="background-color: snow">
    <div class="container text-center">
        <div class="heading-content">
            <h3>Our Diverse range of Client types</h3>
        </div>
        <div class="row">
            <div class="col-12">
                <ul class="list-group ">
                    <li class="list-group-item active">
                        <h6 class="list-group-item-heading">
                            Manufacturing, Auto/ Auto equip and Chemicals/Agri Inputs
                        </h6>
                    </li>
                    <li class="list-group-item">
                        Diversified/Retail
                    </li>
                    <li class="list-group-item">
                        Durable/Fmcg/Electr.
                    </li>
                    <li class="list-group-item">
                        EPC/Engineering./Infra./Mining HCC Group
                    </li>
                    <li class="list-group-item">
                        Fast Moving Consumer Healthcare
                    </li>
                    <li class="list-group-item">
                        Jewellery Industry
                    </li>
                    <li class="list-group-item">
                        Healthcare/Pharma
                    </li>
                    <li class="list-group-item">
                        Petroleum/Energy
                    </li>
                    <li class="list-group-item">
                        Pipes/Piping/Plastics/Steel
                    </li>
                    <li class="list-group-item">
                        Premium Lifestyle
                    </li>
                    <li class="list-group-item">
                        Switchgear/ Electrical Engineering
                    </li>
                    <li class="list-group-item">
                        Textile
                    </li>
                    <li class="list-group-item active">
                        Transmission &amp; Distribution, Transport/Railways, Wind Energy, Upstream Oil &amp; Gas
                    </li>
                    <li class="list-group-item">
                        Banking, Finance & Insurance and Credit Bureau
                    </li>
                    <li class="list-group-item">
                        Engineering services
                    </li>
                    <li class="list-group-item">
                        Real Estate / Construction
                    </li>
                    <li class="list-group-item">
                        BPO/KPO
                    </li>
                    <li class="list-group-item active">
                        Law Firms, Legal Consultants
                    </li>
                </ul>
            </div>
        </div>
        <hr/>
</section>
