<!-- Sections -->
<section id="services" class="sections">
    <div class="container text-center">

        <div class="heading-content">
            <h3>Services </h3>
            <h5>We service in legal translations, interpretations and audio visual interpretation services.</h5>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="features-content">
                    <img src="{{site.baseurl}}/assets/images/services/1.jpg" class="service-img"/>
                    <h5>Legal Translations</h5>
                    <p>We provide translation services in all languages and all types of needs. Please checkout detailed
                        list for more information.</p>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="features-content">
                    <img src="{{site.baseurl}}/assets/images/services/2.jpg" class="service-img"/>
                    <h5>Legal interpretation </h5>
                    <p>Interpretation takes place whenever the meaning of a legal document must be
                        determined. We provide faster interpretation services of written documents which is fundamental
                        to the process and
                        Practice of Law. </p>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="features-content">
                    <img src="{{site.baseurl}}/assets/images/services/3.jpg" class="service-img"/>
                    <h5>Audio / visual</h5>
                    <p>Audio Visual works are those which are both audible and visible. It's usually helpful for future
                        references for same documents as audio visual recording.</p>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="features-content">
                    <img src="{{site.baseurl}}/assets/images/services/4.jpg" class="service-img"/>
                    <h5>Legal assistance</h5>
                    <p>
                        We also expertise in providing legal assistance and guidance which saves lots of efforts in
                        took by legal processes.
                    </p>
                </div>
            </div>
        </div>
    </div> <!-- /container -->
    <div class="container">
        <div class="col-md-6 col-xs-12 text-center">
            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#allServices">
                <b>
                    View All Services
                </b>
            </button>
        </div>
        <div class="col-md-6 col-xs-12 text-center">
            <a href="assets/downloads/Translation_and_Drafting_Charges.pdf" download class="btn btn-info btn-lg">
                <b>
                    View Quotes
                </b>
            </a>
        </div>
    </div>
    {% include all-services.html %}
</section>
