<!-- Sections -->
<section class="sections" id="services">
    <div class="container text-center">

        <div class="heading-content">
            <h3>Services </h3>
            <h5>We provide services in legal translations, interpretations and audio visual interpretation
                services.</h5>
            <h6>
                {{site.name}} translate works in all legal domains. It takes care of all the
                translation of texts within the field of law. The source legal documents need to be translated in such a
                way that they suit the legal culture as it will be read by someone familiar with the legal system. So a
                target file should be created keeping in mind the jurisdiction of the source file.

                We work in all types of legal document translations in any language ranging from all lower Courts to the
                Supreme Court of India in all acts. Legal documents may include patent & trademark translation, property
                & will translation, corporate law & civil law, official documents & travel documents (visa & passport),
                company formation and financial documents, certificates (birth, school, degree, marriage, divorce and
                death), witness statements, depositions, trusts, wills, articles of incorporation, litigation documents,
                immigration documents, property/exhibit labels etc.
            </h6>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="features-content">
                    <img class="service-img" src="{{site.baseurl}}/assets/images/services/1.jpg"/>
                    <h5>Legal Translations</h5>
                    <p>We provide translation services in all languages and all types of needs. Please checkout detailed
                        list for more information.</p>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="features-content">
                    <img class="service-img" src="{{site.baseurl}}/assets/images/services/2.jpg"/>
                    <h5>Legal interpretation </h5>
                    <p>Interpretation takes place whenever the meaning of a legal document must be
                        determined. We provide faster interpretation services of written documents which is fundamental
                        to the process and
                        Practice of Law. </p>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="features-content">
                    <img class="service-img" src="{{site.baseurl}}/assets/images/services/3.jpg"/>
                    <h5>Audio / visual</h5>
                    <p>Audio Visual works are those which are both audible and visible. It's usually helpful for future
                        references for same documents as audio visual recording.</p>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="features-content">
                    <img class="service-img" src="{{site.baseurl}}/assets/images/services/4.jpg"/>
                    <h5>Legal assistance</h5>
                    <p>
                        We also expertise in providing legal assistance and guidance which saves lots of efforts in
                        took by legal processes.
                    </p>
                </div>
            </div>
        </div>
    </div> <!-- /container -->
    <div class="container">
        <div class="col-md-3 col-xs-12 text-center py--1">
            <button class="btn btn-info btn-lg" data-target="#allServices" data-toggle="modal" type="button">
                <b>
                    View All Services
                </b>
            </button>
        </div>
        <div class="col-md-3 col-xs-12 text-center py--1">
            <a class="btn btn-info btn-lg" download href="assets/downloads/Translation_and_Drafting_Charges.pdf">
                <b>
                    Get Quotes
                </b>
            </a>
        </div>
        <div class="col-md-3 col-xs-12 text-center py--1">
            <a class="btn btn-info btn-lg" data-target="#clientTypes" data-toggle="modal" type="button">
                <b>
                    View Our Client Types
                </b>
            </a>
        </div>
        <div class="col-md-3 col-xs-12 text-center py--1">
            <a class="btn btn-info btn-lg" data-target="#clients" data-toggle="modal" type="button">
                <b>
                    View Our Top Clients
                </b>
            </a>
        </div>
    </div>
    {% include all-services.html %}
</section>
