.svg-icon-m {
            text-align: center;
        }

        .mk-svg-icon {
            /*border: 1px solid #1b6d85;*/
            border-radius: 50%;
            padding: 10px;
            height: 78px;
            width: 78px;

            background-color: #ffbbdb;
        }

        .mk-svg-icon:hover {
            background-color: #b48b01;
            opacity: 0.7;
        }

        .logo-section-contact-us {
            padding-top: 20px;
        }