.navbar-default {
  background-color: #464347;
}

.navbar {
  height: 60px;
  margin-bottom: 0;
  border: 0;
  border-radius: 0;
}


.navbar-default .navbar-nav > li > a {
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  line-height: 40px;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #4bcaff;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: transparent;
  border-top: 3px solid #e6eef1;
  font-weight: 600;
}

.navbar-brand {
    display: flex;
    color: $white;
    padding: 10px 0;
    .header-logo{
        height: 50px;
        width: 70px;
        padding-right: 30px;
    }
    .brand-title{
        font-size: 20px;
        color: $white
    }
    .brand-subtitle{
        font-size: 10px;
        color: $white;
    }
}

@media(max-width: 991px){
    .navbar-header{
        margin-bottom: 0px;
    }

      #bs-example-navbar-collapse-1{
            background-color: #ffc107bf;
        }
        .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
          border-top:none;
        }
}